:root{--pro:0%}

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300vh;
}
.box1{
    height: 200vh;
    width: 80%;
}
.box2{
    height:200vh;
    width: 80%;
}

.card1{
    width: 100%;
    height: 100vh;
    position: sticky;
    display: flex;
    top: 0px;
    align-items: center;
    border: 1px solid black;
    transform-style: preserve-3d;
    .left{
        transform: translateX(calc(var(--per) * 8));
        width: 115px;
        height: 100px;
        background-color: #ffc0cb;
        border-radius:20px ;
    }
    .right{
        transform: translateX(calc((100% - var(--per)) * 8));
        width: 115px;
        height: 100px;
        background-color: #b65868;
        border-radius:20px ;

    }
}

.card2{
    width: 100%;
    height: 100vh;
    position: sticky;
    display: flex;
    top: 0vh;
    align-items: center;
    border: 1px solid black;
    transform-style: preserve-3d;
    .left{
        transform: translateX(calc(var(--per) * 8));
        width: 115px;
        height: 100px;
        background-color: #ffc0cb;
        border-radius:20px ;
    }
    .right{
        transform: translateX(calc((100% - var(--per)) * 8));
        width: 115px;
        height: 100px;
        background-color: #b65868;
        border-radius:20px ;

    }
}